* {
    box-sizing: border-box;
}

.KataDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 10px auto;
    align-items:center;
    border: 5px solid black;
    padding: 10px;
}

.bonusBoxContainer {
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.bonusBoxTitle {
    width: 100%;
    text-align: center;
}

.greyBox {
    background-color:grey;
    height: 20px;
    width: 100px;
    border: 1px solid black;
    margin: 2px;
}

.evenGrowthBoxes {
    background-color: grey;
    height: 20px;
    width: 105px;
    border: 1px solid black;
    margin: 2px;
}

.sampleArrayWidthBoxes {
    background-color:grey;
    height: 20px;
    width: 100px;
    border: 1px solid black;
    margin: 2px;
}

.sampleArrayWidthBoxesButAlternatesColor {
    background-color:grey;
    height: 20px;
    width: 100px;
    border: 1px solid black;
    margin: 2px;
}

.sampleArrayWidthBoxesButColorChangesOnWidth {
    background-color:grey;
    height: 20px;
    width: 100px;
    border: 1px solid black;
    margin: 2px;
}